<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h2>订单信息</h2>
        <p>买家: {{ order.buyer.username }}</p>
        <p>卖家: {{ order.seller.username }}</p>
        <p>车辆: {{ order.vehicle.brand }}{{ order.vehicle.model }}</p>
        <p>总价: {{ order.total_price }}</p>
        <p>支付状态: {{ order.status }}</p>
        {% if order.status != 'Paid' %}
        <a href="{{ url_for('payment_confirmation', rental_id=order.id) }}" class="btn btn-primary">Confirm Payment</a>
        {% endif %}
        {% if current_user.user_type == 'seller' %}
        <a href="{{ url_for('buyer_orders') }}" class="btn btn-secondary">返回购买订单管理</a>
            <a href="{{ url_for('seller_orders') }}" class="btn btn-secondary">返回出租订单管理</a>
        {% elif current_user.role == 'buyer' %}
        <a href="{{ url_for('buyer_orders') }}" class="btn btn-secondary">返回购买订单管理</a>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>
